* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --bg-t: hsla(var(--hue), 10%, 90%, 0);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 50%);
  --focus: hsl(var(--hue), 90%, 50%);
  --focus-t: hsla(var(--hue), 90%, 50%, 0);
  --trans-dur: 0.3s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
  font-size: calc(14px + (28 - 14) * (100vw - 280px) / (3840 - 280));
}

a {
  border-radius: 0.25em;
  box-shadow: 0 0 0 0.1875em var(--focus-t);
  color: var(--primary);
  outline: transparent;
  transition: box-shadow var(--trans-dur), color var(--trans-dur);
}

a:focus-visible {
  box-shadow: 0 0 0 0.1875em var(--focus);
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: hsl(var(--hue), 90%, 30%);
}

body,
button {
  color: var(--fg);
  font: 1em/1.5 "DM Sans", sans-serif;
}

body {
  background-color: var(--bg);
  display: flex;
  height: 100vh;
  justify-content: center;
  transition: background-color var(--trans-dur), color var(--trans-dur);
  font-family: Verdana;
  }

h3 {
    color: blue;
    text-align: center;
}

.login {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  justify-content: center;
  height: 100vh;
}

.login h1 {
  font-size:x-large;
  margin: 0 0 1.5rem;
  text-align: center;
}

.login__btn,
.login__segmented-btn {
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.login__btn {
  background-color: var(--primary);
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.125em var(--bg-t), 0 0 0 0.3125em var(--focus-t);
  color: white;
  margin-bottom: 1.5em;
  padding: 0.75em 0.5em;
  width: 100%;
}

.login__btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.login__btn:not(:disabled):focus-visible {
  box-shadow: 0 0 0 0.125em var(--bg), 0 0 0 0.3125em var(--focus);
}

.login__btn:not(:disabled):hover {
  background-color: hsl(var(--hue), 90%, 30%);
}

.login__btn--secondary {
  background-color: transparent;
  box-shadow: 0 0 0 0.125em hsl(var(--hue), 10%, 80%) inset,
    0 0 0 0.125em var(--bg-t), 0 0 0 0.3125em var(--focus-t);
  color: var(--fg);
}

.login__btn--secondary:not(:disabled):focus-visible {
  box-shadow: 0 0 0 0.125em hsl(var(--hue), 10%, 80%) inset,
    0 0 0 0.125em var(--bg), 0 0 0 0.3125em var(--focus);
}

.login__btn--secondary:not(:disabled):hover {
  background-color: hsl(var(--hue), 10%, 90%);
}

.login__form,
.login__header {
  width: 100%;
}

.login__form {
  flex-shrink: 0;
  margin: 3em 0;
  height: min-content;
}

.login__form-page {
  flex: 0 0 100%;
  padding: 0 0.5em;
  width: 100%;
  transition: transform var(--trans-dur) var(--trans-timing),
    visibility var(--trans-dur) steps(1, jump-both);
}

.login__form-page + .login__form-page {
  visibility: hidden;
}

.login__form-pages {
  display: flex;
  overflow: hidden;
}

.login__form-pages[data-stage="1"] .login__form-page {
  transform: translateX(-100%);
}

[dir="rtl"] .login__form-pages[data-stage="1"] .login__form-page {
  transform: translateX(100%);
}

.login__form-pages[data-stage="1"] .login__form-page:first-child {
  visibility: hidden;
}

.login__form-pages[data-stage="1"] .login__form-page:nth-child(2) {
  visibility: visible;
}

.login__or {
  color: hsl(var(--hue), 10%, 40%);
  display: flex;
  align-items: center;
  font-size: 0.75em;
  line-height: 2;
  margin-bottom: 1.5em;
  text-align: center;
  transition: color var(--trans-dur);
}

.login__or:before,
.login__or:after {
  background-color: hsl(var(--hue), 10%, 70%);
  content: "";
  display: block;
  flex: 1;
  height: 1px;
  transition: background-color var(--trans-dur);
}

.login__or:before {
  margin-inline-end: 0.75em;
}

.login__or:after {
  margin-inline-start: 0.75em;
}

.login__segmented {
  background-color: hsl(var(--hue), 10%, 90%);
  border-radius: 0.75em;
  display: flex;
  margin-bottom: 1.5em;
  min-height: 3em;
}

.login__segmented,
.login__segmented-btn {
  position: relative;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur),
    color var(--trans-dur), opacity var(--trans-dur);
}

.login__segmented-btn {
  border-radius: 0.875em;
  box-shadow: 0 0 0 0.1875em var(--focus-t) inset;
  color: hsl(var(--hue), 10%, 40%);
  cursor: pointer;
  outline: transparent;
  padding: 0.75em;
  width: 100%;
  z-index: 1;
}

.login__segmented-btn:focus-visible {
  box-shadow: 0 0 0 0.1875em var(--focus) inset;
}

.login__segmented-btn[aria-selected="true"] {
  color: hsl(var(--hue), 10%, 10%);
}

.login__segmented-focus {
  background-color: white;
  border-radius: 0.625em;
  pointer-events: none;
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: 0.25em;
  width: calc(50% - 0.5em);
  transition: background-color var(--trans-dur), opacity var(--trans-dur),
    transform var(--trans-dur) var(--trans-timing);
}

[dir="rtl"] .login__segmented-focus {
  right: 0.25em;
  left: auto;
}

.login__segmented-btn:disabled,
.login__segmented-btn:disabled ~ .login__segmented-focus {
  opacity: 0.5;
}

.login__segmented-btn[aria-selected="true"]:nth-child(2)
  ~ .login__segmented-focus {
  transform: translateX(calc(100% + 0.5em));
}

[dir="rtl"]
  .login__segmented-btn[aria-selected="true"]:nth-child(2)
  ~ .login__segmented-focus {
  transform: translateX(calc(-100% - 0.5em));
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --bg-t: hsla(var(--hue), 10%, 10%, 0);
    --fg: hsl(var(--hue), 10%, 90%);
    --focus: hsl(var(--hue), 90%, 70%);
    --focus-t: hsla(var(--hue), 90%, 70%, 0);
  }

  a {
    color: hsl(var(--hue), 90%, 70%);
  }

  a:visited {
    color: hsl(var(--hue), 90%, 90%);
  }

  .login__btn--secondary {
    box-shadow: 0 0 0 0.125em hsl(var(--hue), 10%, 30%) inset,
      0 0 0 0.125em var(--bg-t), 0 0 0 0.3125em var(--focus-t);
  }

  .login__btn--secondary:not(:disabled):focus-visible {
    box-shadow: 0 0 0 0.125em hsl(var(--hue), 10%, 30%) inset,
      0 0 0 0.125em var(--bg), 0 0 0 0.3125em var(--focus);
  }

  .login__btn--secondary:not(:disabled):hover {
    background-color: hsl(var(--hue), 10%, 20%);
  }

  .login__or {
    color: hsl(var(--hue), 10%, 60%);
  }

  .login__or:before,
  .login__or:after {
    background-color: hsl(var(--hue), 10%, 30%);
  }

  .login__segmented {
    background-color: hsl(var(--hue), 10%, 20%);
  }

  .login__segmented-btn {
    color: hsl(var(--hue), 10%, 60%);
  }
}

/* Beyond mobile */
@media (min-width: 768px) {

  .login__form {
    max-width: 22em;
  }
}
